#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- App\Model\Database
	- App\Model\Photo
	- App\Model\Auction
	- App\Forms\SignFormFactory
	- App\Forms\UserFormFactory
	- App\Forms\UploadProfilePhotoFormFactory
	- App\Forms\PasswordFormFactory
	- App\Forms\ProductFormFactory
	- App\Forms\ProductDeleteFormFactory
	- App\Forms\PhotoEditFormFactory
	- App\Forms\PhotoDeleteFormFactory
	- App\Forms\BidFormFactory
	- App\Forms\AlertFormFactory
	router: App\RouterFactory::createRouter
